{% extends 'accounts/profile/base_profile.html' %}
{% load static %}

{% block profile-content %}

<div class="container">
    <h1 class="profile-title_1">Результаты моделирований</h1>
    {% if models %}
    <table class="profile-orders-table">
        <thead>
            <tr>
                <th>Дата</th>
                <th>Номер</th>
                <th>Тип</th>
                <th>Результат</th>

            </tr>
        </thead>

        <tbody>
            {% for res in  models %}
                <tr>
                    <td>{{ res.created }}</td>
                    <td>{{ res.id }}</td>
                    <td>{{ res.type_id }}</td>
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>У Вас нет результатов предыдущих моделирований.</p>
    {% endif %}

</div>

{% endblock profile-content %}