{% extends 'accounts/profile/base_profile.html' %}
{% load static %}

{% block orders-class %} catalog-menu__link_active{% endblock %}
{% block profile-content %}

<div class="container">
    <h1 class="profile-title_1">История заказов</h1>
    {% if orders %}
    <table class="profile-orders-table">
        <thead>
            <tr>
                <th>Дата</th>
                <th>Номер</th>
                <th>Состояние</th>
                <th>Сумма</th>
            </tr>
        </thead>

        <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.date_created }}</td>
                    <td><a href="{% url 'order_complete' order.id %}">{{ order.id }}</a></td>
                    <td>{{ order.get_status_display }}</td>
                    <td>{{ order.final_price|stringformat:".2f" }} <span class="symbol-ruble">Р</span></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>Вы еще не оформили ни одного заказа.</p>
    {% endif %}

{#    <ul class="profile-orders-pager list_raw">#}
{#        <li class="profile-orders-pager-item"><a class="profile-orders-pager-link" href="#">Предыдущие 10</a></li>#}
{#        <li class="profile-orders-pager-item"><a class="profile-orders-pager-link" href="#">Следующие 10</a></li>#}
{#        <li class="profile-orders-pager-item"><a class="profile-orders-pager-link" href="#">Показать все</a></li>#}
{#    </ul>#}
</div>

{% endblock profile-content %}