.idea/*
*.sqlite3
*.pyc
.codeintel/*
*.log
sphinx*.*
fabfile.py
*/settings_dev.py
.directory
fab_*
venv
.DS_Store
Thumbs.db
.coverage
madyart/cover
dump.rdb
import.xml
offers.xml
orders.xml
export.xml
users.xml
frontend/node_modules/*
