.idea/*
*.sqlite3
*.pyc
.codeintel/*
*.log
sphinx*.*
fabfile.py
mag_work/settings_dev.py
.directory
fab_*
madyart/media/*
venv
.DS_Store
Thumbs.db
.coverage
madyart/cover
dump.rdb
import.xml
offers.xml
orders.xml
export.xml
users.xml
madyart/templates/catalog.yml
madyart/templates/catalog_cropped.yml
frontend/node_modules/*
src/*